<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2500</integer>
			<key>Identifier</key>
			<string>ED3FFCCB-3AF4-5A12-B1F0-B56053585F93</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,5</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.3</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.3 (17D102)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>C01080AE-9561-42C2-83D3-6B5C55453FDA</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,4</string>
			<key>ModelName</key>
			<string>iPhone 8</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-2</string>
			<key>Name</key>
			<string>iPhone 8</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>11.2 (15C107)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator11.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 11.2</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>ChuteExample.xcodeproj</string>
			<key>TargetName</key>
			<string>ChuteExampleTests</string>
			<key>TestName</key>
			<string>ChuteExampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.36411499977111816</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.3624720573425293</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.36143898963928223</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>542991184.24382603</real>
													<key>StartTimeInterval</key>
													<real>542991184.24326801</real>
													<key>Title</key>
													<string>Assertion Failure: ViewControllerTests.swift:55: failed - Nothing to see here, move along</string>
													<key>UUID</key>
													<string>3E51E04D-D78F-4059-B9C6-A55C43F8B390</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.014294028282165527</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/davidhouse/Projects/davidahouse/ChuteExample/ChuteExampleTests/ViewControllerTests.swift</string>
													<key>LineNumber</key>
													<integer>55</integer>
													<key>Message</key>
													<string>failed - Nothing to see here, move along</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneTestFailsForReporting()</string>
											<key>TestName</key>
											<string>testOneTestFailsForReporting()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>E0D332AA-8C14-4610-BF41-A902CCCC9FEB</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_E099BFC3-4363-4A4D-974D-D0935102B110.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>542991184.28261304</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.32662201</real>
													<key>StartTimeInterval</key>
													<real>542991184.325858</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>E099BFC3-4363-4A4D-974D-D0935102B110</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_D8416378-87F4-4962-A37B-182733FA910D</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>542991184.34207404</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.34262705</real>
													<key>StartTimeInterval</key>
													<real>542991184.34210801</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>D8416378-87F4-4962-A37B-182733FA910D</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.098772883415222168</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerCanBeInstantiated()</string>
											<key>TestName</key>
											<string>testViewControllerCanBeInstantiated()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F9B6E2FA-86DE-449C-809F-FE9E4142AA06</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_DB16392B-999D-40B3-8108-40AD30D6DC3D.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>542991184.37341499</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.41102397</real>
													<key>StartTimeInterval</key>
													<real>542991184.41046405</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>DB16392B-999D-40B3-8108-40AD30D6DC3D</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_F62DE6B1-9859-40FD-9410-D442C1B83D89</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>542991184.41203701</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.41244698</real>
													<key>StartTimeInterval</key>
													<real>542991184.41206205</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>F62DE6B1-9859-40FD-9410-D442C1B83D89</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.068922042846679688</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithFullConfigure()</string>
											<key>TestName</key>
											<string>testViewControllerWithFullConfigure()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>ECE67654-90FD-42AE-B143-03E52707A720</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_3A067F89-A9C3-420E-AA44-A39A9AFE60C5.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>542991184.43627596</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.46916902</real>
													<key>StartTimeInterval</key>
													<real>542991184.46846199</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>3A067F89-A9C3-420E-AA44-A39A9AFE60C5</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_56465AC0-BED0-407F-83E0-BF746C559EC3</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>542991184.470294</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.47092605</real>
													<key>StartTimeInterval</key>
													<real>542991184.47033298</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>56465AC0-BED0-407F-83E0-BF746C559EC3</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.05857694149017334</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithNoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>6A9CDE4D-25D0-476B-AB55-DA044ACD48D0</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_B11404B8-740C-4FCB-82A1-EFE5210E7135.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>542991184.49495399</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.53031504</real>
													<key>StartTimeInterval</key>
													<real>542991184.52972496</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>B11404B8-740C-4FCB-82A1-EFE5210E7135</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_44D3890A-C8D6-4D46-B68A-D19A31641100</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>542991184.53124404</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.53178</real>
													<key>StartTimeInterval</key>
													<real>542991184.53127694</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>44D3890A-C8D6-4D46-B68A-D19A31641100</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.060224056243896484</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithOneDetail()</string>
											<key>TestName</key>
											<string>testViewControllerWithOneDetail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A5146B93-BFAC-45C5-A2C1-8650FEF60306</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithTwoDetails_1_F4A08CB0-6715-439F-BA52-CC411B2C0D80.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithTwoDetails</string>
															<key>Timestamp</key>
															<real>542991184.55331302</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.58897197</real>
													<key>StartTimeInterval</key>
													<real>542991184.58848703</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithTwoDetails'</string>
													<key>UUID</key>
													<string>F4A08CB0-6715-439F-BA52-CC411B2C0D80</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithTwoDetails_1_766E9D70-E824-4779-9D5F-05FED0B90049</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithTwoDetails</string>
															<key>Timestamp</key>
															<real>542991184.58983397</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542991184.59024501</real>
													<key>StartTimeInterval</key>
													<real>542991184.58985603</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithTwoDetails'</string>
													<key>UUID</key>
													<string>766E9D70-E824-4779-9D5F-05FED0B90049</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.058007001876831055</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithTwoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithTwoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>EBC51B82-2377-466F-96B0-47ADA1EF4306</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ViewControllerTests</string>
									<key>TestName</key>
									<string>ViewControllerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestName</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
