<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2500</integer>
			<key>Identifier</key>
			<string>ED3FFCCB-3AF4-5A12-B1F0-B56053585F93</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,5</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.3</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.3 (17D102)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>C01080AE-9561-42C2-83D3-6B5C55453FDA</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,4</string>
			<key>ModelName</key>
			<string>iPhone 8</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-2</string>
			<key>Name</key>
			<string>iPhone 8</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>11.2 (15C107)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator11.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 11.2</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>ChuteExample.xcodeproj</string>
			<key>TargetName</key>
			<string>ChuteExampleTests</string>
			<key>TestName</key>
			<string>ChuteExampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.41026699542999268</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.40874803066253662</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.40757203102111816</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0042269229888916016</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneMoreAdditionalTest()</string>
											<key>TestName</key>
											<string>testOneMoreAdditionalTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>957B389E-7486-4AB3-90C5-51095204A30C</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00093793869018554688</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneTestFailsForReporting()</string>
											<key>TestName</key>
											<string>testOneTestFailsForReporting()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>5ED4E894-081B-46A6-89FD-9B24E189EC44</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_CCFECA84-47B3-42E9-BB68-6A42F17322BB.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>543027678.09944403</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.13317204</real>
													<key>StartTimeInterval</key>
													<real>543027678.13253403</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>CCFECA84-47B3-42E9-BB68-6A42F17322BB</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_C7174CC6-2FEC-4D48-85F6-B64F3426A797</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>543027678.15400195</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.15451503</real>
													<key>StartTimeInterval</key>
													<real>543027678.15404403</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>C7174CC6-2FEC-4D48-85F6-B64F3426A797</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.1087878942489624</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerCanBeInstantiated()</string>
											<key>TestName</key>
											<string>testViewControllerCanBeInstantiated()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>FAE36E06-38EA-4A60-85A0-E29386686780</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_EB04D9A3-79E3-4574-8D69-7AB1D0DA9381.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>543027678.19259095</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.22478497</real>
													<key>StartTimeInterval</key>
													<real>543027678.22424996</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>EB04D9A3-79E3-4574-8D69-7AB1D0DA9381</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_AE261953-19FC-4E70-8BA3-F6D8C0DF9E61</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>543027678.225811</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.22618902</real>
													<key>StartTimeInterval</key>
													<real>543027678.22583604</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>AE261953-19FC-4E70-8BA3-F6D8C0DF9E61</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigureNewScreenshot_1_51BF9FF5-3921-4503-9651-1FABEDABD610.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigureNewScreenshot</string>
															<key>Timestamp</key>
															<real>543027678.239712</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.27221298</real>
													<key>StartTimeInterval</key>
													<real>543027678.27176499</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigureNewScreenshot'</string>
													<key>UUID</key>
													<string>51BF9FF5-3921-4503-9651-1FABEDABD610</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.11738896369934082</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithFullConfigure()</string>
											<key>TestName</key>
											<string>testViewControllerWithFullConfigure()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>ECDC16F6-4C19-40B7-B0DD-45CED807CA9F</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_61A963CB-D37A-4067-AA1A-CBA91E704C44.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>543027678.30351603</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.33615196</real>
													<key>StartTimeInterval</key>
													<real>543027678.33571196</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>61A963CB-D37A-4067-AA1A-CBA91E704C44</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_EE4593BD-2481-4054-9B57-885D40F76885</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>543027678.33696198</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.33736503</real>
													<key>StartTimeInterval</key>
													<real>543027678.33698201</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>EE4593BD-2481-4054-9B57-885D40F76885</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.06462705135345459</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNewDetailsTest()</string>
											<key>TestName</key>
											<string>testViewControllerWithNewDetailsTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>68B9FFBC-5593-4FFD-B690-650ED5C6580E</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_42D85996-02A8-4165-BBBC-7D3A237B77FB.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>543027678.358953</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.39312506</real>
													<key>StartTimeInterval</key>
													<real>543027678.392627</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>42D85996-02A8-4165-BBBC-7D3A237B77FB</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_3C3F476A-1B32-4252-A1E2-42C36A2511BB</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>543027678.39395499</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.39429605</real>
													<key>StartTimeInterval</key>
													<real>543027678.39397705</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>3C3F476A-1B32-4252-A1E2-42C36A2511BB</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.056302070617675781</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithNoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>A0D19D90-0738-4809-A872-8F50C1D0E492</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_6311C604-4C54-46C6-85F1-C6CB79EB793F.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>543027678.41471004</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.44596803</real>
													<key>StartTimeInterval</key>
													<real>543027678.44552898</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>6311C604-4C54-46C6-85F1-C6CB79EB793F</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_A23E97C5-5348-44B8-9689-C0DAA4C7FD07</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>543027678.44676197</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543027678.44711995</real>
													<key>StartTimeInterval</key>
													<real>543027678.44678295</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>A23E97C5-5348-44B8-9689-C0DAA4C7FD07</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.052636981010437012</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithOneDetail()</string>
											<key>TestName</key>
											<string>testViewControllerWithOneDetail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2A4FDC01-BD78-4603-8A44-D569FB2629E5</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ViewControllerTests</string>
									<key>TestName</key>
									<string>ViewControllerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestName</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
