<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2500</integer>
			<key>Identifier</key>
			<string>ED3FFCCB-3AF4-5A12-B1F0-B56053585F93</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,5</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.3</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.3 (17D102)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8 Landscape</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>E78ACE0D-018B-4DDE-8A23-13BEAA32570E</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,4</string>
			<key>ModelName</key>
			<string>iPhone 8</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-2</string>
			<key>Name</key>
			<string>iPhone 8 Landscape</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>11.2 (15C107)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator11.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 11.2</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>ChuteExample.xcodeproj</string>
			<key>TargetName</key>
			<string>ChuteExampleTests</string>
			<key>TestName</key>
			<string>ChuteExampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.35922098159790039</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.3574749231338501</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.35642707347869873</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.testAssertionFailure</string>
													<key>FinishTimeInterval</key>
													<real>542982551.63138402</real>
													<key>StartTimeInterval</key>
													<real>542982551.63097703</real>
													<key>Title</key>
													<string>Assertion Failure: ViewControllerTests.swift:55: failed - Nothing to see here, move along</string>
													<key>UUID</key>
													<string>22317E57-1CFA-4540-8FCB-03ACD68B6B52</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.01574099063873291</real>
											<key>FailureSummaries</key>
											<array>
												<dict>
													<key>FileName</key>
													<string>/Users/davidhouse/Projects/davidahouse/ChuteExample/ChuteExampleTests/ViewControllerTests.swift</string>
													<key>LineNumber</key>
													<integer>55</integer>
													<key>Message</key>
													<string>failed - Nothing to see here, move along</string>
													<key>PerformanceFailure</key>
													<false/>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneTestFailsForReporting()</string>
											<key>TestName</key>
											<string>testOneTestFailsForReporting()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Failure</string>
											<key>TestSummaryGUID</key>
											<string>5E0DEBDF-991C-4762-9EF2-4A5CFFF00646</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_C6F787BB-13D2-4A26-BC8F-F330EC635AEA.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>542982551.68290401</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.72485805</real>
													<key>StartTimeInterval</key>
													<real>542982551.72408998</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>C6F787BB-13D2-4A26-BC8F-F330EC635AEA</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_67540813-ADE5-407A-9620-664E7D026DAC</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>542982551.74119306</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.74169695</real>
													<key>StartTimeInterval</key>
													<real>542982551.74122798</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>67540813-ADE5-407A-9620-664E7D026DAC</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.11036992073059082</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerCanBeInstantiated()</string>
											<key>TestName</key>
											<string>testViewControllerCanBeInstantiated()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>63F7B7D8-0728-453A-BC70-65A4ADB1093F</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_2C475A18-4429-418C-884D-386ED8E7C457.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>542982551.76877606</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.802284</real>
													<key>StartTimeInterval</key>
													<real>542982551.80180299</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>2C475A18-4429-418C-884D-386ED8E7C457</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_2693D62F-D681-4A6E-BDF3-7CA0BDDD6530</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>542982551.80317998</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.80364001</real>
													<key>StartTimeInterval</key>
													<real>542982551.80320299</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>2693D62F-D681-4A6E-BDF3-7CA0BDDD6530</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.061089038848876953</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithFullConfigure()</string>
											<key>TestName</key>
											<string>testViewControllerWithFullConfigure()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B69EAA00-4ECD-4796-8310-A2A12C1245EA</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_130AA2D9-C1D0-4F69-86F6-CB4F45D35898.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>542982551.82349896</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.85850799</real>
													<key>StartTimeInterval</key>
													<real>542982551.85800898</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>130AA2D9-C1D0-4F69-86F6-CB4F45D35898</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_C2AC8A28-7938-42CF-8ADC-77A58B942333</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>542982551.85942805</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.859779</real>
													<key>StartTimeInterval</key>
													<real>542982551.85944998</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>C2AC8A28-7938-42CF-8ADC-77A58B942333</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.055832028388977051</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithNoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D5D06D56-6174-402B-9572-4DDB6BC7D7BC</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_9DF33FA7-43E0-4D95-B9E6-7F5389C85C1D.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>542982551.881001</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.91529405</real>
													<key>StartTimeInterval</key>
													<real>542982551.91472495</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>9DF33FA7-43E0-4D95-B9E6-7F5389C85C1D</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_6B4BAD34-BE78-4636-B0AD-A044D0E99A6D</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>542982551.91624606</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.91665494</real>
													<key>StartTimeInterval</key>
													<real>542982551.91627002</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>6B4BAD34-BE78-4636-B0AD-A044D0E99A6D</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.056542038917541504</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithOneDetail()</string>
											<key>TestName</key>
											<string>testViewControllerWithOneDetail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7EA71A5A-B5E3-40F6-BA84-1BAF5489864A</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithTwoDetails_1_D6A87213-CD57-4D4F-BB8F-CEA349BDDA6B.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithTwoDetails</string>
															<key>Timestamp</key>
															<real>542982551.93746996</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.97030306</real>
													<key>StartTimeInterval</key>
													<real>542982551.96987402</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithTwoDetails'</string>
													<key>UUID</key>
													<string>D6A87213-CD57-4D4F-BB8F-CEA349BDDA6B</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithTwoDetails_1_1DCC3CFC-7ACE-4F0A-ADB5-1A5FCE3CE9BB</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithTwoDetails</string>
															<key>Timestamp</key>
															<real>542982551.97107303</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>542982551.97142196</real>
													<key>StartTimeInterval</key>
													<real>542982551.97109306</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithTwoDetails'</string>
													<key>UUID</key>
													<string>1DCC3CFC-7ACE-4F0A-ADB5-1A5FCE3CE9BB</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.054372906684875488</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithTwoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithTwoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>9E3259A3-F28D-4027-9B8D-DAD60846535B</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ViewControllerTests</string>
									<key>TestName</key>
									<string>ViewControllerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestName</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
