<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2500</integer>
			<key>Identifier</key>
			<string>ED3FFCCB-3AF4-5A12-B1F0-B56053585F93</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,5</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.3</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.3 (17D102)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>C01080AE-9561-42C2-83D3-6B5C55453FDA</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,4</string>
			<key>ModelName</key>
			<string>iPhone 8</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-2</string>
			<key>Name</key>
			<string>iPhone 8</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>11.2 (15C107)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator11.2</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 11.2</string>
			<key>OperatingSystemVersion</key>
			<string>11.2</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>ChuteExample.xcodeproj</string>
			<key>TargetName</key>
			<string>ChuteExampleTests</string>
			<key>TestName</key>
			<string>ChuteExampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.41221404075622559</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.4106980562210083</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.40979897975921631</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0041331052780151367</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneMoreAdditionalTest()</string>
											<key>TestName</key>
											<string>testOneMoreAdditionalTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D89D4D67-52EF-418E-82F2-55266AD81C6A</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00073492527008056641</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneTestFailsForReporting()</string>
											<key>TestName</key>
											<string>testOneTestFailsForReporting()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>D726BDDA-4A06-4BFB-807B-82E1D6CF22C4</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_3A6DF077-C650-4704-A4DF-97619DC8542E.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>543021688.15207803</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.18877399</real>
													<key>StartTimeInterval</key>
													<real>543021688.18814099</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>3A6DF077-C650-4704-A4DF-97619DC8542E</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_C22DDC4C-8C31-4F20-A8D5-22A34646A99E</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>543021688.20849097</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.20898294</real>
													<key>StartTimeInterval</key>
													<real>543021688.208529</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>C22DDC4C-8C31-4F20-A8D5-22A34646A99E</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.11204397678375244</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerCanBeInstantiated()</string>
											<key>TestName</key>
											<string>testViewControllerCanBeInstantiated()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>34AF2CB9-4DD5-4D4C-AA07-867B728D4AA2</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_711DF2A6-7053-4792-9E19-1E0D6245D866.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>543021688.24442005</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.27734101</real>
													<key>StartTimeInterval</key>
													<real>543021688.27680099</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>711DF2A6-7053-4792-9E19-1E0D6245D866</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_DCC2DC21-1632-4170-8F44-0B3BF03993AF</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>543021688.27842498</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.27886295</real>
													<key>StartTimeInterval</key>
													<real>543021688.27845597</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>DCC2DC21-1632-4170-8F44-0B3BF03993AF</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigureNewScreenshot_1_E9F0BCC1-96C1-46B2-80AA-523134C130B6.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigureNewScreenshot</string>
															<key>Timestamp</key>
															<real>543021688.29354799</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.32748699</real>
													<key>StartTimeInterval</key>
													<real>543021688.32708597</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigureNewScreenshot'</string>
													<key>UUID</key>
													<string>E9F0BCC1-96C1-46B2-80AA-523134C130B6</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.11809694766998291</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithFullConfigure()</string>
											<key>TestName</key>
											<string>testViewControllerWithFullConfigure()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>E55D42CF-7B4A-4E5E-B397-5F5DE6168E32</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_66ECC16D-C1F2-4EC0-BCA6-6FC1AFABD062.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>543021688.35566902</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.38922</real>
													<key>StartTimeInterval</key>
													<real>543021688.38870299</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>66ECC16D-C1F2-4EC0-BCA6-6FC1AFABD062</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_3021CC1E-F6E7-4E68-980C-3A1E780721CA</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>543021688.39016294</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.39059401</real>
													<key>StartTimeInterval</key>
													<real>543021688.39019704</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>3021CC1E-F6E7-4E68-980C-3A1E780721CA</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.062518000602722168</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNewDetailsTest()</string>
											<key>TestName</key>
											<string>testViewControllerWithNewDetailsTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>72AD62E6-7D37-4EB0-B0A2-45A60CA09C93</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_1704CDD6-5422-4E73-86FC-D6170BEBF1C9.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>543021688.41071701</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.44547105</real>
													<key>StartTimeInterval</key>
													<real>543021688.44493997</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>1704CDD6-5422-4E73-86FC-D6170BEBF1C9</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_F7D2950D-94B4-426C-B90B-0998188F8A1C</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>543021688.44632399</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.44671202</real>
													<key>StartTimeInterval</key>
													<real>543021688.44634795</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>F7D2950D-94B4-426C-B90B-0998188F8A1C</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.055879950523376465</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithNoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>2CB4E97A-DDC4-4BBD-895B-CE279688504A</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_68DEC966-BED1-4279-99CD-C0A2F6D706AA.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>543021688.46634305</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>2</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.49988699</real>
													<key>StartTimeInterval</key>
													<real>543021688.49941802</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>68DEC966-BED1-4279-99CD-C0A2F6D706AA</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_C068E9F6-B4C9-41B4-AAB8-439F06888673</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>543021688.50066805</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>543021688.50106096</real>
													<key>StartTimeInterval</key>
													<real>543021688.50071001</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>C068E9F6-B4C9-41B4-AAB8-439F06888673</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.054069042205810547</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithOneDetail()</string>
											<key>TestName</key>
											<string>testViewControllerWithOneDetail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>558B0908-7246-4F62-A820-E18740349329</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ViewControllerTests</string>
									<key>TestName</key>
									<string>ViewControllerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestName</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
