<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>100</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2500</integer>
			<key>Identifier</key>
			<string>ED3FFCCB-3AF4-5A12-B1F0-B56053585F93</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>8</integer>
			<key>ModelCode</key>
			<string>MacBookPro11,5</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-display</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.1 (17B48)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>4</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 8 Plus</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>1AB8FEDA-F768-4358-9A91-D7AB4951C0A6</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone10,5</string>
			<key>ModelName</key>
			<string>iPhone 8 Plus</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-8-plus-2</string>
			<key>Name</key>
			<string>iPhone 8 Plus</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>11.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>11.1 (15B87)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator11.1</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 11.1</string>
			<key>OperatingSystemVersion</key>
			<string>11.1</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>ProjectPath</key>
			<string>ChuteExample.xcodeproj</string>
			<key>TargetName</key>
			<string>ChuteExampleTests</string>
			<key>TestName</key>
			<string>ChuteExampleTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.88485598564147949</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.88344699144363403</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.8824470043182373</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0039399862289428711</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneMoreAdditionalTest()</string>
											<key>TestName</key>
											<string>testOneMoreAdditionalTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3E9B2893-0B59-4134-9C1E-C3F1CF511409</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.00089401006698608398</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testOneTestFailsForReporting()</string>
											<key>TestName</key>
											<string>testOneTestFailsForReporting()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B5D5BF00-3164-4235-90F0-4FC9CDAFDB4B</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_E3412EA7-4BD1-4D45-9FC6-4CE4F57156A9.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>532111361.39576799</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.489016</real>
													<key>StartTimeInterval</key>
													<real>532111361.48814702</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>E3412EA7-4BD1-4D45-9FC6-4CE4F57156A9</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithoutConfigure_1_680A1631-55DF-4F45-9563-B1A80C0D9242</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithoutConfigure</string>
															<key>Timestamp</key>
															<real>532111361.51054001</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.511069</real>
													<key>StartTimeInterval</key>
													<real>532111361.51059002</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithoutConfigure'</string>
													<key>UUID</key>
													<string>680A1631-55DF-4F45-9563-B1A80C0D9242</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.22904497385025024</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerCanBeInstantiated()</string>
											<key>TestName</key>
											<string>testViewControllerCanBeInstantiated()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>CA1A542E-4E5F-471F-A24A-D880009F9943</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_B4E4DBAD-5947-46E9-A20F-047760A6E9F5.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>532111361.58984202</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.67516702</real>
													<key>StartTimeInterval</key>
													<real>532111361.67466497</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>B4E4DBAD-5947-46E9-A20F-047760A6E9F5</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigure_1_165C5F15-62DA-4DE7-911D-8B17BDF04EA6</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigure</string>
															<key>Timestamp</key>
															<real>532111361.676045</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.67646497</real>
													<key>StartTimeInterval</key>
													<real>532111361.67607099</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigure'</string>
													<key>UUID</key>
													<string>165C5F15-62DA-4DE7-911D-8B17BDF04EA6</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFullConfigureNewScreenshot_1_DCE21F39-50B8-4180-BD1D-31A6C1450C6A.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFullConfigureNewScreenshot</string>
															<key>Timestamp</key>
															<real>532111361.70136499</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.78501701</real>
													<key>StartTimeInterval</key>
													<real>532111361.784482</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFullConfigureNewScreenshot'</string>
													<key>UUID</key>
													<string>DCE21F39-50B8-4180-BD1D-31A6C1450C6A</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.27565199136734009</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithFullConfigure()</string>
											<key>TestName</key>
											<string>testViewControllerWithFullConfigure()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F2F0A7F1-A9B3-422C-8301-7AC2358D406A</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_EA5D132A-EEA3-4729-9E57-B1CB88508B1F.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>532111361.82518297</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.90780902</real>
													<key>StartTimeInterval</key>
													<real>532111361.90725499</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>EA5D132A-EEA3-4729-9E57-B1CB88508B1F</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNewDetails_1_C73B2DC8-364D-47E2-84D8-EBBF3A9A2AB6</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNewDetails</string>
															<key>Timestamp</key>
															<real>532111361.90880698</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111361.90927702</real>
													<key>StartTimeInterval</key>
													<real>532111361.90884501</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNewDetails'</string>
													<key>UUID</key>
													<string>C73B2DC8-364D-47E2-84D8-EBBF3A9A2AB6</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.12278401851654053</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNewDetailsTest()</string>
											<key>TestName</key>
											<string>testViewControllerWithNewDetailsTest()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>0F264128-0D76-4D15-8DCE-288BD6D67610</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_07C9951C-A6FD-4032-95D4-E44A7BEFD92F.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>532111361.94699901</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111362.03022301</real>
													<key>StartTimeInterval</key>
													<real>532111362.02976102</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>07C9951C-A6FD-4032-95D4-E44A7BEFD92F</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithNoDetails_1_65CA9505-939A-4853-BB38-41F2C3B3C9C7</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithNoDetails</string>
															<key>Timestamp</key>
															<real>532111362.03104502</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111362.03141397</real>
													<key>StartTimeInterval</key>
													<real>532111362.03106701</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithNoDetails'</string>
													<key>UUID</key>
													<string>65CA9505-939A-4853-BB38-41F2C3B3C9C7</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.12166500091552734</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithNoDetails()</string>
											<key>TestName</key>
											<string>testViewControllerWithNoDetails()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>641EB38F-D966-4A92-AAAB-CE7C368A510E</string>
										</dict>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_3A72F6F5-AAA1-44A0-9A9B-EC567A5DACBD.png</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>532111362.07001197</real>
															<key>UniformTypeIdentifier</key>
															<string>public.png</string>
															<key>UserInfo</key>
															<dict>
																<key>Scale</key>
																<real>3</real>
															</dict>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111362.15579301</real>
													<key>StartTimeInterval</key>
													<real>532111362.15531099</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>3A72F6F5-AAA1-44A0-9A9B-EC567A5DACBD</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.attachmentContainer</string>
													<key>Attachments</key>
													<array>
														<dict>
															<key>Filename</key>
															<string>ViewControllerWithFirstDetailOnly_1_FB5A30A1-1E27-45A3-8EAE-BBFDCBEA2913</string>
															<key>HasPayload</key>
															<true/>
															<key>InActivityIdentifier</key>
															<integer>1</integer>
															<key>Lifetime</key>
															<integer>0</integer>
															<key>Name</key>
															<string>ViewControllerWithFirstDetailOnly</string>
															<key>Timestamp</key>
															<real>532111362.15659398</real>
															<key>UniformTypeIdentifier</key>
															<string>chute.styleSheet</string>
														</dict>
													</array>
													<key>FinishTimeInterval</key>
													<real>532111362.156968</real>
													<key>StartTimeInterval</key>
													<real>532111362.15661699</real>
													<key>Title</key>
													<string>Added attachment named 'ViewControllerWithFirstDetailOnly'</string>
													<key>UUID</key>
													<string>FB5A30A1-1E27-45A3-8EAE-BBFDCBEA2913</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>0.12561100721359253</real>
											<key>TestIdentifier</key>
											<string>ViewControllerTests/testViewControllerWithOneDetail()</string>
											<key>TestName</key>
											<string>testViewControllerWithOneDetail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>3AD1C664-58FB-4E69-B578-4375EDF0E95A</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ViewControllerTests</string>
									<key>TestName</key>
									<string>ViewControllerTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestName</key>
							<string>ChuteExampleTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
